/* index.css */
:root {
    --soraBlue: #6AAAE4;
    --soraGray: #76777A;
    --soraOrange: #FE7522;
    --facebookBlue: #47639F;
    --twitterBlue: #4FA1F2;
    --linkedinBlue: #3773B0;

    --displayFont: 'Press Start 2P';
    --bodyFont: 'Raleway';

    /* --largeBreakpoint:"screen and (min-width:1200px)";
    --mediumBreakpoint:"screen and (min-width:992px) and (max-width:1200px)";
    --tabletBreakpoint:"screen and (min-width:768px) and (max-width:991px)";
    --phoneBreakpoint:"screen and (max-width:767px)"; */
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

body {
    margin:0;
    padding:0;
    font-family:var(--bodyFont);
}

nav {
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    font-family: var(--displayFont);
    background-color:#000;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

nav div {
    height:100%;
    width:110px;
    position:absolute;
    left:15px;
    display:none;
    justify-content:space-between;
    align-items:center;
    color:#fff;
    cursor:pointer;
}

nav div img {
    height:35px;
}


nav a {
    color:#fff;
    text-decoration:none;
    margin-right:40px;
}

nav #hamburger {
    display:none;
}

nav #hamburger ul {
    display:none;
}

nav a:hover, nav a.active {
    color:var(--soraOrange);
}

@media screen and (max-width:991px) {

    nav {
        justify-content:flex-end;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
    }
    
    nav div {
        display:flex;
    }

    nav div a {
        display:flex;
    }

    nav a {
        display:none;
    }

    nav #hamburger {
        display:block;
        position:relative;
        background-color:transparent;
        border:none;
    }

    nav #hamburger object {
        height:2.5em;
        width:auto;
        pointer-events:none;
    }

    nav #hamburger ul {
        display:none;
        color:#fff;
        position:absolute;
        padding:0;
        background-color:#000;
        list-style-type:none;
        padding:6px 12px;
        right:-1px;
        top:10px;
        text-align:left;
    }

    nav #hamburger ul li {
        white-space:nowrap;
        padding:3px 0;
    }

    nav #hamburger ul li a {
        display:block;
        margin-right:0;
        font-size:2em;
        font-family: var(--displayFont); 
    }
}


main section {
    min-height:100vh;
    padding:40px 15px 0 15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

main section h1 {
    margin:0;
}

main section h2 {
    color:#fff;
    text-align:center;
    margin:0 0 50px 0;
    font-size:2em;
    font-family:var(--displayFont);
}

#home {
    font-family: var(--displayFont);
    font-style:normal;
    font-weight: 400;
    min-height:calc(100vh - 40px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    text-align:center;
    padding-top:0;
    position: relative;
    color:#fff;
}

#home img {
    width:35vw;
    height:auto;
    margin-bottom:40px;
}

#codeBackground {
    background-image:url('../img/codeBackground.png');
    background-repeat: none;
    background-size:cover;
    position:absolute;
    left:0;
    top:0;
    display:block;
    width:100%;
    height:100%;
    filter:blur(3px);
    z-index:-1;
}

#home h1 {
    font-size:7em;
}

#home svg {
    width:35vw;
    height:auto;
}

#home svg {
    fill:#fff;
}

/* Tablet Styles */
@media screen and (max-width:991px) {

    #home {
        margin-top:40px;
    }

}

/* Phone Styles */
@media screen and (max-width:767px) {

    main section {
        padding-top:55px;
    }

    #home img {
        width:75vw;
    }

    #home h1 {
        font-size:5em;
    }
}

#services {
    background-color:#6b6d76;
    /* background-color:#7fc6a4; */
}

#services > div {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:30px;
}

.service {
    border:1px solid #000;
    text-align:center;
    border-radius:5px;
    padding:6px 12px;
    background-color:#fff;

}

.service figure object {
    height:150px;
    width:auto;
    /* fill:var(--soraBlue); */
    fill:var(--soraOrange);
}

.service figcaption {
    font-size:1.25em;
    font-family:var(--displayFont);
}

.service ul {
    list-style-type:none;
    text-align:left;
    margin:0;
    padding:0;
}

.service .logos {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:75px;
}

.service .logos object {
    /* height:50px;
    width:auto; */
    height:100%;
    width:auto;
    max-width:120px;
}

/* Tablet Styles */
@media screen and (min-width:768px) and (max-width:991px) {
    
    #services > div {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .service figcaption {
        font-size:1em;
        white-space:nowrap;
    }
}

/* Phone Styles */
@media screen and (max-width:767px) {

    #services > div {
        grid-template-columns: repeat(1, 1fr);
    }

    #services {
        padding-bottom:30px;
    }
}

#work {
    background-color:#033f63;
    color:#fff;
}

#work #exampleTabs {
    margin-bottom:10px;
    text-align:center;
}

#work #exampleTabs button {
    font-size:1.25em;
    border:0;
    /* color:var(--soraOrange); */
    color:#fff;
    padding:6px 12px;
    cursor:pointer;
    background-color:transparent;
}

#exampleSelect {
    display:none;
}

#work #showcase {
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-gap:20px;
}

#work #showcase #screenshots {
    border:2px solid #000;
    /* background-color:#ddd; */
    background-color:rgba(255,255,255,0.25);
    display:flex;
    align-items:center;
    justify-content:center;
    height:600px;
    padding:6px;
}

#work #showcase #screenshots img {
    max-width:100%;
    max-height:100%;
    height:auto;
}

#work #showcase #description article {
    display:none;
}

#work #showcase #description article.visible {
    display:block;
}

#work #showcase #description .title {
    margin:0;
    color:var(--soraOrange);
    font-size:1.5em;
    font-family:var(--displayFont);
} 

#work #techTags {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

#work #techTags p {
    font-weight:bold;
    font-size:1.25em;
    white-space:nowrap;
}

#work #techTags ul {
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-gap:20px;
}

#work #techTags li {
    background-color:var(--soraOrange);
    min-width:100px;
    text-align:center;
    padding:6px 12px;
    border-radius:5px;
    color:#fff;
    list-style-type:none;
}

@media screen and (min-width:768px) and (max-width:991px) {

    #work #exampleTabs {
        font-size:1em;
        display:flex;
        justify-content:space-between;
        margin-bottom:20px;
    }

    #work #exampleTabs button {
        padding:0;
    }

    #work #techTags {
        display:block;
    }

    #work #showcase {
        display:block;
    }

    #work #showcase #screenshots {
        height:350px;
        margin-bottom:15px;
    }
    
    #work #techTags ul {
        padding:0;
        grid-template-columns:repeat(5, 1fr);
    }
}

/* Phone Styles */
@media screen and (max-width:767px) {

    #work {
        padding-bottom:30px;
    }
    
    #work #techTags {
        display:block;
    }

    #work #techTags ul {
        padding:0;
        display:grid;
        grid-template-columns:repeat(2, 1fr);
    }

    #work #exampleTabs {
        display:none;
    }

    #exampleSelect {
        display:block;
        background-color:#fff;
        font-size:1em;
        margin-bottom:12px;
    }

    #work #showcase {
        grid-template-columns: repeat(1, 1fr);
    }

    #work #showcase #screenshots {
        height:200px;
    }
}

#about {
    /* background-color:#ead637; */
    /* background-color:#7180b9; */
    background-color:#8daa9d;
    color:#fff;
}

#teamContainer {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
}

.teamMember {
    padding:20px;
    text-align:center;
    background-color:rgba(255,255,255,0.60);
    border-radius:5px;
    color:#000;
}

.teamMember figure {
    margin:0;
    padding:0;
    text-align:center;
    /* width:100%; */
}

.teamMember figcaption {
    font-weight:bold;
    font-family: var(--displayFont);
    white-space: nowrap;
}

.teamMember img {
    height:150px;
    width:150px;
    border-radius:50%;
    border:3px solid #000;
}

.teamMember p {
    text-align:left;
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    #teamContainer {
        grid-template-columns:repeat(2, 1fr);
    }
}

/* Phone Styles */
@media screen and (max-width:767px) {
    #teamContainer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom:30px;
    }
}



footer {
    background-color:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3px 15px;
    position:relative;
}

footer p {
    margin:0;
    font-size:0.75em;
    /* position:absolute; */
    /* left:50%; */
    /* bottom:0; */
    /* transform:translate(-50%, -50%); */
}

#contactButtons {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:15px;
}

#contactButtons a {
    background-color:var(--soraBlue);
    padding:6px 12px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:5px;
    color:#fff;
    text-decoration:none;
    font-family: var(--displayFont);
    font-size:0.75em;
}

#contactButtons a object[data-name="email"] {
    margin-right:10px;
}

#socialIcons a {
    text-decoration:none;
}

#socialIcons a svg {
    height:40px;
    width:auto;
    fill:#fff;
}

#socialIcons a svg[data-name="facebook"]:hover {
    fill:var(--facebookBlue);   
}

#socialIcons a svg[data-name="twitter"]:hover {
    fill:var(--twitterBlue);
}

#socialIcons a svg[data-name="linkedin"]:hover {
    fill:var(--linkedinBlue);
}

/* Phone Styles */
@media screen and (max-width:767px) {

    footer {
        display:block;
        padding:6px 12px;
    }

    #contactButtons {
        grid-template-columns:repeat(1, 1fr);
    }

    #socialIcons {
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin-top:15px;
    }
}